body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1em;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

a {
  @include transition(all 0.2s);
}

.btn {
  
  border-radius: 0px;
  letter-spacing: .3px;
  
}

.btn-long {
  
  padding-left: 60px;
  padding-right: 60px;
  
}