img.wp-post-image {
  
  max-width: 100%;
  height: auto;
  
}

.full-width {
  
  width: 100%;
  height: auto;
  
}

a img:hover {
  
  opacity: 0.5;
  // For IE8 and earlier
  filter: alpha(opacity=60);
  
}