#site-header {
  
  background-color: #ffffff;
  
}

.home-intro {
  
  margin-top: 30px;
  
}

.home-boxes {
  
  margin-top: 15px;
  
}

.social-media {
  
  text-align: center;
  padding-top: 15px;
  
}

#results {
 
  dl {
    
    margin-bottom: 0px;
    
  }
  
  dt {
    
    display: inline;
    color: darken( $brand-info, 6% );
    
  }
  
  dd {
    
    display: inline;
    
  }
  
  h2 {
    
    margin-top: 0px;
    
  }
  
  h3 {
    
    font-size: 16px;
    
  }
  
}

#work-here-block {
  
  .work-here-block-unit {
    
    margin-bottom: 10px;
    
    img {
      
      max-height: 264px;
      
    }
    
  }
  
}

.sidebar-boxes-unit {
  
  h4 {
    
    color: $brand-primary;
    margin-top: 2px;
    
  }
  
}

.card-staff {
  
  padding: 0px 5px 0 0;
  border: none;
  background-color: white;
  margin-bottom: 15px;
  
}

.well-staff {
  
  height: 149px
  
}