#site-header {
  
  background-color: #ffffff;
  
}

.home-intro {
  
  margin-top: 30px;
  
}

.home-boxes {
  
  margin-top: 15px;
  
}

.social-media {
  
  text-align: center;
  padding-top: 15px;
  
}

.well {
  
  border: 1px solid #efefef;
  
}

#results {
 
  dl {
    
    margin-bottom: 0px;
    
  }
  
  dt {
    
    display: inline;
    color: darken( $brand-info, 6% );
    
  }
  
  dd {
    
    display: inline;
    
  }
  
  h2 {
    
    margin-top: 0px;
    
  }
  
  h3 {
    
    font-size: 16px;
    
  }
  
}