#myCarousel .nav a {
  
  border-radius: 0px;
  
}

.carousel-control.left {
  
  background-image: none;
  margin-left: -125px;
  padding-top: 150px;
  
}

.carousel-control.right {
  
  background-image: none;
  margin-right: -125px;
  padding-top: 150px;
  
}