.well-heading {
  
  background-color: $brand-primary;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0px 5px 15px;
  
}

#breadcrumbs.breadcrumb > li + li:before {
    content: " ";
    padding: 0 5px;
    color: #ccc;
}

.job-counter {
  
  border-radius: 5px;
  padding: 2px 8px;
  color: black;
  background-color: $brand-grey;
  
}