.alignleft {
  
  float: left;
  padding: 10px 10px 0 0;
  
}

.alignright {
  
  float: right;
  padding: 10px 0 0 10px;
  
}

.wp-caption {
  
  padding: 0;
  margin: 5px;
  background-color: $body-bg;
  
}

.wp-caption-text {
  
  padding: 5px;
  
}

.widget ul {
  
  list-style-type: none;
  padding-left: 0px;
  
}

.widget h3 {
  
  margin-top: 2px;
  
}